*{
    -fx-font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.bg{
    -fx-background-color: linear-gradient(to top right, #1e242e, #ae2d3c);
}

.bg-gradient{
    -fx-background-color: linear-gradient(to top right, #1e242e, #ae2d3c);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,.3), 8, 0, 0, 0);
    -fx-background-radius: 8px;
}

.search-text{
    -fx-background-color: #fff;
    -fx-background-radius: 0 10px 0 0;
    -fx-border-color: #ae2d3c;
    -fx-border-width: 1px;
    -fx-font-size: 14px;
}

.search-text:focused{
    -fx-border-color: #ae2d3c;
    -fx-border-width: 2px;
}

.search-btn{
    -fx-background-color: linear-gradient(to bottom right, #35529d, #2371d0);
    -fx-background-raduis: 8px;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.search-btn:hover{
    -fx-background-color: linear-gradient(to bottom right, #3862c2, #4284d0);
}

.bg-transparent{
    -fx-background-color: transparent;
}