*{
    -fx-font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.bg-gradient{
    -fx-background-color: linear-gradient(to top right, #1e242e, #ae2d3c);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,.3), 8, 0, 0, 0);
    -fx-background-radius: 8px;
}

.author{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
}

.date{
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
}

.textfield{
    -fx-background-color: transparent;
    -fx-border-color: #d63333;
    -fx-border-width: 0 0 .4px 0;
}

.textfield:focused{
    -fx-border-color: #fb6363;
    -fx-border-width: 0 0 1px 0;
}